@import "../../_globalColor.scss";

.skills-section {
  position: relative;
  padding: 10rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-section::before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0;
  background: $projectBgColor;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 37vw bottom;
  mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  92' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 67L50 63C100 59 200 51 300 34C400 18 500 -7 600 1C700 9 800 51 900 67C1000 84 1100 76 1150 72L1200 67V92H1150C1100 92 1000 92 900 92C800 92 700 92 600 92C500 92 400 92 300 92C200 92 100 92 50 92H0V67Z' fill='%23f8cccc'/></svg>");
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  92' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 67L50 63C100 59 200 51 300 34C400 18 500 -7 600 1C700 9 800 51 900 67C1000 84 1100 76 1150 72L1200 67V92H1150C1100 92 1000 92 900 92C800 92 700 92 600 92C500 92 400 92 300 92C200 92 100 92 50 92H0V67Z' fill='%23f8cccc'/></svg>");
  transform: rotate(180deg);
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.skills-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 4rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(169, 112, 179, 0.5019607843);
}

.skills-card:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.skill-icon {
  min-block-size: 50px;
}

.skill-name {
  font-size: 1rem;
}
