@import "../../_globalColor.scss";

.toggle-switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-dark-light {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; // Light theme background
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: white; // Switch color
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #ff6969; // Dark theme background
  }

  input:checked + .slider:before {
    transform: translateX(13px); // Move switch to the right
  }
}
