// _globalColor.scss

// Light Theme Colors
$light-background: #ffffff;
$light-text: #000000;

// Dark Theme Colors
$dark-background: #0b1120;
$dark-text: #ffffff;

$primary-color: #ed8080;
$secondary-color: #ffffff;

$lighter-primary-color: #fdf0f0;
$dark-secondary-backrgound-color: #10182e;

// Section background colors for light theme
$light-section-colors: (
  header: rgba($primary-color, 0.12),
  default: $lighter-primary-color,
  projects: $lighter-primary-color,
  contact: $lighter-primary-color,
);

// Section background colors for dark theme
$dark-section-colors: (
  header: rgba($dark-secondary-backrgound-color, 0.12),
  default: rgba($primary-color, 0.08),
  projects: $dark-secondary-backrgound-color,
  contact: $dark-secondary-backrgound-color,
);

// Wave colors
$light-wave-colors: (
  projects: $lighter-primary-color,
  skills: $lighter-primary-color,
  contact: $lighter-primary-color,
);

$dark-wave-colors: (
  projects: $dark-secondary-backrgound-color,
  skills: $dark-secondary-backrgound-color,
  contact: $dark-secondary-backrgound-color,
);

.light-theme {
  background-color: $light-background;
  color: $light-text;
  --header-bg: #{map-get($light-section-colors, header)};
  --project-bg: #{map-get($light-section-colors, projects)};
  --skills-bg: #{map-get($light-section-colors, skills)};
  --contact-bg: #{map-get($light-section-colors, contact)};
  --text-color: #{$light-text};
  --wave-projects: #{map-get($light-wave-colors, projects)};
  --wave-skills: #{map-get($light-wave-colors, skills)};
  --wave-contact: #{map-get($light-wave-colors, contact)};
}

.dark-theme {
  background-color: $dark-background;
  color: $dark-text;
  --header-bg: #{map-get($dark-section-colors, header)};
  --project-bg: #{map-get($dark-section-colors, projects)};
  --skills-bg: #{map-get($dark-section-colors, skills)};
  --contact-bg: #{map-get($dark-section-colors, contact)};
  --text-color: #{$dark-text};
  --wave-projects: #{map-get($dark-wave-colors, projects)};
  --wave-skills: #{map-get($dark-wave-colors, skills)};
  --wave-contact: #{map-get($dark-wave-colors, contact)};
}

// Pastel colors
$pastel-0: #eeebfc;
$pastel-1: #fcf0ef;
$pastel-2: #eafdf9;
$pastel-3: #e7f2fc;

$projectBgColor: var(--project-bg);
